#map {
  height: 450px;
  width: 100%;
  margin: 0;
}
#content .firstHeading {
	font-size: 18px;
	font-family: 'Electrolize', sans-serif;
}

#content {
	color: black;
	font-size: 13px;
	font-family: 'Electrolize', sans-serif;
}